NODE_ENV=production
PORT=3000
SITE_URL=https://votre-site.onrender.com
BUSINESS_EMAIL=alaboutiqueboucherie@gmail.com
WHATSAPP_NUMBER=2250798567514

# Configuration SMTP Gmail (mot de passe d'application)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=alaboutiqueboucherie@gmail.com
SMTP_PASS=votre_mot_de_passe_application
