# .env
NODE_ENV=development
PORT=3000

# Email - Configuration Nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=alaboutiqueboucherie@gmail.com
SMTP_PASS=cgmq xrmv jyoq dmsu
BUSINESS_EMAIL=alaboutiqueboucherie@gmail.com

# WhatsApp
WHATSAPP_NUMBER=2250798567514

# URL du site (pour production)
SITE_URL=http://localhost:3000